{% extends "common/portal/base.twig" %}
{% block robots %}
<meta name="robots" content="index,follow">
{% endblock %}
{% block description %}
<meta name="description" content="{{value.station.station_name}}周辺であなたに合ったインプラント治療ができる歯医者さんが見つかる！インプラントネットプラスがおすすめしたい歯医者を紹介します。インプラント、ワンデイインプラント、オールオン4、オーバーデンチャー、フラップレスインプラントなどインプラント治療を検討中の方はぜひご覧ください。">
{% endblock %}
{% block keyword %}
<meta name="keywords" content="インプラントネットプラス,歯医者さん,おすすめ,インプラント,{{value.station.station_name}}">
{% endblock %}
{% block canonical %}
{% if value.headline.canonical != '' %}
<link rel="canonical" href="{{value.headline.canonical}}">
{% endif %}
{% endblock %}
{% block json_ld %}
{% include 'recommend/json_ld_station.html' %}
{% endblock %}
{% block external_js %}
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAupZjhzqUlHfU-pkTr4PrV1bbuvUjtWf8&amp;callback=initMap"></script>
{% endblock %}
{% block title %}{{value.station.station_name}}駅でインプラント治療ができるおすすめ歯医者 - インプラントネットプラス - {% endblock %}
{% block last_update_css %}?{{meta.unixtime}}{% endblock %}
{% block last_update_js %}?{{meta.unixtime}}{% endblock %}
{% block body %}

{% include 'common/portal/breadcrumb.html' %}

<!-- contents -->
<div class="contents">
<main class="mainContents">
	<article class="mainContents__wrapper">
		<div class="mainContents__outer">
			<div class="mainContents__title-outer">
				<div class="mainContents__title-wrapper">
					<h1 class="mainContents__title">
						{{value.station.station_name}}駅<br class="u-only_sp"><span class="mainContents__title-recommend">でインプラント治療ができる<br class="u-only_sp">おすすめ歯医者</span>
					</h1>
					<span class="mainContents__title-sub">{{value.station.station_sub}} station</span>
				</div>
				<div class="areaInfo__img u-only_sp">
					<img src="{{value.station.image_url}}" alt="{{value.station.station_name}}駅でインプラント治療ができるおすすめ歯医者の画像">
				</div>
			</div>

		</div>

		<div class="areaInfo__wrapper u-only_pc">
			<div class="areaInfo">
				<div class="areaInfo__img">
					<img src="{{value.station.image_url}}" alt="{{value.station.station_name}}駅でインプラント治療ができるおすすめ歯医者の画像">
				</div>
				<div class="areaInfo__text">{{value.station.implant_lead|raw}}</div>
			</div>
		</div>

		<div class="areaInfo__text u-only_sp">{{value.station.implant_lead|raw}}</div>

		<div class="recommend">
			<ul class="recommend__list">
				{% include 'recommend/portal_city_recommend_row.html' %}
			</ul>
		</div>

	</article>
</main>
</div>
<!-- /contents -->

{% include 'common/portal/breadcrumb_sp.html' %}

<!-- pageTop -->
<div id="btnPagetop"><a href="#" class="btnPagetop__a" aria-label="ページトップに戻る"></a></div>
<!-- /pageTop -->

{% endblock %}
