{% extends "common/cms/base.twig" %}
{% block external_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
{% endblock %}
{% block external_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
{% endblock %}
{% block title %}{{header.value.title}}{% endblock %}
{% block last_update_css %}?{{meta.unixtime}}{% endblock %}
{% block last_update_js %}?{{meta.unixtime}}{% endblock %}
{% block body %}
<div class="content">
	<h1>{{value.title}} {{value.sub_menu_title}}</h1>
	<div class="separator {{value.site_pathname}}-separator"></div>
	<form id="searchForm" method="post">
		<input type="hidden" name="recommend_id" value="0">
		<input type="hidden" name="site_pathname" value="{{value.site_pathname}}" />
		<div class="item-box lightgrey-bgcolor align-center">
			<p>エリアを選択</p>
			<div class="select-wrapper">
				<select id="prefList" name="pref_id">
					<option>都道府県を選択</option>
					{% for data in list.prefectures %}
					<option value="{{data.prefecture_id}}">{{data.prefecture_name}}</option>
        			{% endfor %}
				</select>
			</div>
			<div class="select-wrapper">
				<select id="cityList" class="validate[required]" name="city_id">
					<option value="">市区町村を選択</option>
				</select>
			</div>
		</div>
		<div class="item-box lightgrey-bgcolor align-center">
			<p>駅を選択</p>
			<input type="text" name="station_group_id" value="" class="validate[required]" />
			<input type="hidden" name="station_name" value="" />
			<a class="btn code-search" href="#searchStationModal" rel="modal:open"><span>駅コード検索</span><span class="material-icons">search</span></a>
		</div>
		<div class="item-box lightgrey-bgcolor">
			<p>こだわり項目を選択</p>
			<ul class="attribute-list radio-list">
				{% for key, data in list.attributes %}
				<li>
					<input class="validate[required]" type="radio" id="{{data.attribute_flgname}}" name="attribute_flgname" value="{{data.attribute_flgname}}" {{data.checked}}>
					<label for="{{data.attribute_flgname}}">{{data.attribute_name}}</label>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="item-box lightgrey-bgcolor">
			<p>件数を選択</p>
			<ul class="radio-list">
				<li><input type="radio" id="5件" name="num" value="5" checked><label for="5件">5件</label></li>
				<li><input type="radio" id="10件" name="num" value="10"><label for="10件">10件</label></li>
				<li><input type="radio" id="15件" name="num" value="15"><label for="15件">15件</label></li>
        	</ul>
		</div>
		<div class="item-box lightgrey-bgcolor">
			<p>作業を選択</p>
			<ul class="radio-list">
				<li><input type="radio" id="import_create" name="search_mode" value="import_create" checked><label for="import_create">医院データのインポートと記事作成</label></li>
				<li><input type="radio" id="create" name="search_mode" value="create"><label for="create">記事作成のみ</label></li>
				<li><input type="radio" id="import" name="search_mode" value="import"><label for="import">医院データのインポートのみ</label></li>
        	</ul>
		</div>
		<input type="hidden" name="recommend_type" value="1">
		<!--<a id="search" class="btn form-btn">決定</a>-->
		<button id="search" class="btn form-btn dark">決定</button>
    </form>
</div>

<div id="searchStationModal" class="modal">
	{% include 'station/search_form.html' %}
</div>
{% endblock %}
